###############################
# [mysqld] Server settings
###############################
[mysqld]
# Set default character set and collation for the server
character-set-server = utf8mb4
collation-server     = utf8mb4_bin

###############################
# [mysql] CLI tool settings
###############################
[mysql]
# Default character set for mysql CLI
default-character-set = utf8mb4

###############################
# [client] MySQL client library settings
###############################
[client]
# Default character set for clients
default-character-set = utf8mb4
